@font-face {
    font-family: Barlow;
    src: url(Barlow/Barlow-Regular.ttf);
}

body{
    background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
    align-items: center;
    justify-content: center;
    text-align: center;
height: 725px

}

input{
    font-family: Barlow;
    background-color: #ffffff7e;
}

#adicionar-tarefa{
font-family: Barlow;
font-size: 20px;

}
.coluna{
    background-color: rgba(254, 254, 254, 0.395);
    border: 1px solid #dddddd46;
    border-radius: 5px;
    margin: 15px;
    padding: 10px;
    display: inline-block;
    width: 250px;
    height: 300px;

}

h2{
    font-family: Barlow;
 
    text-align: center;
}
h1{
    font-family: Barlow;
    text-align: center;
}

